
.box-mes {
    width: 325px;
    z-index: 3000;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
    display: none;
    position: absolute;
    top:100px;
    left: 100px;
    /*border:20px solid transparent;*/
    /*margin: -20px;*/
}

.box-mes .head-mes,.box-mes .foot-mes {
    background: url("../images/mes_bg.png");
    height: 35px;
    overflow: auto;
    color: #fff;
}

.box-mes .foot-mes {
    text-align: center;
    line-height: 1;
    font-size: 12px;
    padding-top: 11px;
    height: 24px;
}

.box-mes .foot-mes a {
    color: #fff;
    text-decoration: underline;
}

.box-mes .foot-mes a:hover {
    text-decoration: none;
}

.box-mes .container-mes {
    min-height: 310px;
    height: 310px;
    overflow: hidden;
    background: #f0f6fc;
}

.box-mes .head-mes h6 {
    font-size: 13px;
    font-weight: bold;
    padding:12px 0 0 15px;
    margin: 0;
    line-height: 1;
    float: left;
}

.box-mes .head-mes .subs-mes {
    float: right;
    margin: 6px 6px 0 0;
    display: block;
    height: 19px;
    padding: 2px 18px 0;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    background: url("../images/mes-subs.png") repeat-x top;
    border-radius: 2px;
    border:1px solid #434b75;
}

.box-mes .head-mes .subs-mes:hover {
    background-position: bottom ;
}

.box-mes .item-mes {
    padding: 9px 13px;
    border-bottom:1px solid #c9cfd6;
    color: #585a63;
    font-size: 11px;
    line-height: 1;
    overflow: auto;
}

.box-mes .item-mes.new-mes {
    background: #dde2f7;
}

.box-mes .date-mes {
    float: right;
    font-size: 10px;
}

.box-mes .ava-mes {
    float: left;
    margin-right: 13px;
}

.box-mes p {
    padding: 0;
    margin: 0;
    line-height: 13px;
}

.box-mes .name-mes {
    font-weight: bold;
    position: relative;
    padding-bottom: 6px;
}

.box-mes .name-mes span {
    position: relative;
    padding: 2px 6px;
    border-radius: 50px;
    background: #de4940;
    top:0;
    color: #fff;
}

.box-mes .jspVerticalBar  {
    right: 2px;
}

.box-mes.n {
    margin-top: 10px;
}

.box-mes.n:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.box-mes.n:after {
    border-color: rgba(50, 96, 142, 0);
    border-bottom-color: #406e9c;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
}

.box-mes.s {
    margin-top: -10px;
}

.box-mes.s:after {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.box-mes.s:after {
    border-color: rgba(48, 94, 141, 0);
    border-top-color: #386189;
    border-width: 8px;
    left: 50%;
    margin-top: -1px;
    margin-left: -8px;
}


.box-mes.e {
    margin-left: -10px;
}

.box-mes.e:after {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.box-mes.e:after {
    border-color: rgba(240, 246, 252, 0);
    border-left-color: #f0f6fc;
    border-width: 8px;
    top: 50%;
    margin-top: -8px;
}


.box-mes.w {
    margin-left: 10px;
}

.box-mes.w:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.box-mes.w:after {
    border-color: rgba(240, 246, 252, 0);
    border-right-color: #f0f6fc;
    border-width: 8px;
    top: 50%;
    margin-top: -8px;
}
