
.box-mes {
    width: 325px;
    z-index: 3000;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
    display: none;
    position: absolute;
    top:100px;
    left: 100px;
    /*border:20px solid transparent;*/
    /*margin: -20px;*/
}

.box-mes .head-mes,.box-mes .foot-mes {
    background: url("../images/mes_bg.png");
    height: 35px;
    overflow: auto;
    color: #fff;
}

.box-mes .foot-mes {
    text-align: center;
    line-height: 1;
    font-size: 12px;
    padding-top: 11px;
    height: 24px;
}

.box-mes .foot-mes a {
    color: #fff;
    text-decoration: underline;
}

.box-mes .foot-mes a:hover {
    text-decoration: none;
}

.box-mes .container-mes {
    min-height: 310px;
    height: 310px;
    overflow: hidden;
    background: #f0f6fc;
}

.box-mes .head-mes h6 {
    font-size: 13px;
    font-weight: bold;
    padding:12px 0 0 15px;
    margin: 0;
    line-height: 1;
    float: left;
}

.box-mes .head-mes .subs-mes {
    float: right;
    margin: 6px 6px 0 0;
    display: block;
    height: 19px;
    padding: 2px 18px 0;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    background: url("../images/mes-subs.png") repeat-x top;
    border-radius: 2px;
    border:1px solid #434b75;
}

.box-mes .head-mes .subs-mes:hover {
    background-position: bottom ;
}

.box-mes .item-mes {
    padding: 9px 13px;
    border-bottom:1px solid #c9cfd6;
    color: #585a63;
    font-size: 11px;
    line-height: 1;
    overflow: auto;
    cursor: pointer;
}

.box-mes .item-mes.new-mes {
    background: #dde2f7;
}

.box-mes .date-mes {
    float: right;
    font-size: 10px;
}

.box-mes .ava-mes {
    float: left;
    margin-right: 13px;
}

.box-mes p {
    padding: 0;
    margin: 0;
    line-height: 13px;
}

.box-mes .name-mes {
    font-weight: bold;
    position: relative;
    padding-bottom: 6px;
}

.box-mes .name-mes span {
    position: relative;
    padding: 2px 6px;
    border-radius: 50px;
    background: #de4940;
    top:0;
    color: #fff;
}

.box-mes .jspVerticalBar  {
    right: 2px;
}

.box-mes.n {
    margin-top: 10px;
}

.box-mes.n:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.box-mes.n:after {
    border-color: rgba(50, 96, 142, 0);
    border-bottom-color: #406e9c;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
}

.box-mes.s {
    margin-top: -10px;
}

.box-mes.s:after {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.box-mes.s:after {
    border-color: rgba(48, 94, 141, 0);
    border-top-color: #386189;
    border-width: 8px;
    left: 50%;
    margin-top: -1px;
    margin-left: -8px;
}


.box-mes.e {
    margin-left: -10px;
}

.box-mes.e:after {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.box-mes.e:after {
    border-color: rgba(240, 246, 252, 0);
    border-left-color: #f0f6fc;
    border-width: 8px;
    top: 50%;
    margin-top: -8px;
}


.box-mes.w {
    margin-left: 10px;
}

.box-mes.w:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.box-mes.w:after {
    border-color: rgba(240, 246, 252, 0);
    border-right-color: #f0f6fc;
    border-width: 8px;
    top: 50%;
    margin-top: -8px;
}

.box-mes .head-mes a{
    color: #fff;
    font-size: 12px;
    text-decoration: underline;
    display: block;
    padding-right: 10px;
    padding-top: 10px;
}

.box-mes .head-mes a:hover{
    text-decoration: none;
}

.box-mes .mes {
    padding: 15px 15px 0;
}

.box-mes .mes img{
    float: left;
    display: block;

}

.box-mes .mes .txt{
    margin-left: 50px;
    color: #606265;
}
.box-mes .mes .author_inf a{
    display: block;
    color: #fff;
    font-size: 9px;
    background: #a8acb0;
    margin-right: 5px;
    padding: 0 10px;
    border-radius: 9px;
}

.box-mes .mes .author_inf a:hover{
    background: #578cc9;
}

.box-mes .mes .author_inf{
    margin-bottom: 5px;
    overflow: auto;

}
.box-mes .mes .txt p{
    margin: 0;
    font-size: 11px;
}


.box-mes .mes .author_inf em{
    font-style:  normal;
    font-size: 10px;    

}

.box-mes .mes .author_inf strong{
    font-size: 11px;
}

.box-mes .container-mes .scroll{
    height: 175px;
}

.box-mes .bot{
    border-bottom: 5px solid #386189;
}

.box-mes .send_mes_form {
    overflow: auto;
    padding: 10px 15px 15px;
    background: #f0f6fc;

}

.box-mes .send_mes_form textarea{
    background: #fbfcfe;
    box-shadow: inset 0 1px 2px #f1f1f1;
    border:1px solid #c5cbd4;
    padding: 5px;
    height: 17px;
    width: 284px;
    margin-bottom: 8px;
    display: block;
    resize: none;

}
.box-mes .send_mes_form input[type=submit]{
    color: #fff;
    font-size: 12px;
    text-shadow: 1px 1px 1px #3b628f;
    border:1px solid #434b75;
    background: url("../images/answer_but_bg.jpg") repeat-x;
    padding: 2px 20px;
    float: right;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    cursor: pointer;
}

.box-mes .send_mes_form input[type=submit]:hover{
    background: #6699cf;
}

.box-mes .container-mes.small{
   height: 255px !important;
    min-height: 255px;
}


.box-mes .bot, .box-mes .inner_mes, .box-mes .head-mes .backs, .box-mes .send_mes_form {
    display: none;

}

/*button styles*/

 .action-buttons{
     position: absolute;
     right: 15px;
     top: 13px;
     display: none;
 }

 .content-block:hover .action-buttons{
     display: block;
 }



.action-buttons li{
    float: left;
    margin-right: 7px;
    padding-left: 0;
}

.action-buttons li a{
    border-bottom:  1px dotted #0e67d2;
    color: #0e67d2;
    font-size: 13px;
    font-weight: normal;
    font-family: helvetica, sans-serif;
}

.action-buttons li a:hover{
    border-color: transparent;
}


.action-buttons li.last{
    margin-right: 5px;
}

.action-buttons li.last.active{
    margin-right: 0;
}

.action-buttons li.active a {
    background: #e5e5e5;
    border-color: transparent;
    color: #5e5e5e;
    text-shadow: 1px 1px #fff;
    box-shadow: inset 0 1px 2px #ddd;
    padding: 1px 5px 3px;
    border-radius: 3px;
    font-weight: bold;
    margin:0 -1px
}


.inner-block-header {
    position: relative;
}










