html, body {
    min-height: 0;
}


/* containers */
#main {
    max-width: 9999px;
}

#main {
    margin: 0 auto;
    min-width: 960px;
    width: 100%;
    height: 100%;
    min-height: 600px;
    overflow: hidden;
}




.video-time {
    top: 7px;
    min-height: 47px;
    left: 10px;
}



.one-event {
    padding: 10px 225px 10px 75px;
}

ul.event-list-inner li.disabled-event,
ul.event-list-inner li.disabled-event h3 a,
ul.event-list-inner li.disabled-event .author,
ul.event-list-inner li.disabled-event .begining {
    color: #9f9f9f;
}

ul.event-list-inner li.disabled-event .video-time strong {
    color: #6c6c6c;
}


ul.event-list-inner li.current-event .one-event * {
    color: #000;
}

li:hover > .tip,
a:hover > .tip {
    z-index: 100;
}

.event-now {
    left: 15px;
    width: 45px;
    top: 13px;
    background: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    height: 37px;
    padding-top: 8px;

}



li.current-event:hover .event-navi {
    display: block;
}



#datepicker {
    border-top: 1px solid #d7d7d7;
    float: left;
    margin-top: 4px;
    padding-top: 4px;
}


.video-time span {
    background: #fff;
    width: 45px;
    height: 37px;
    display: block;
    padding-top: 8px;
    text-align: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    position: absolute;
    top: 2px;
}

.start .records {
    margin-left: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    color: #8b8a8a;
    background: url("../images/ico_records.png") no-repeat left 4px;


}

.start .records span {
    margin-left: 23px;
    border-bottom: 1px dotted #8b8a8a;;

}

.start .records:hover span {
    border-bottom: 1px dotted #0e67d2;

}

.start .records:hover {
    color: #0e67d2;
    background: url("../images/ico_records.png") no-repeat left -25px;

}

.start .records em {
    font-weight: normal;

}

.pop_up_rec {
    position: relative;
    background: #e6eaef;
    width: 382px;
    padding: 10px;
    margin-left: -364px;
    top: 30px;
    margin-bottom: 30px;
    float: left;
    display: none;
}

.pop_up_rec ul {
    margin: 0;
}

.pop_up_rec:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;

}

.pop_up_rec:after {
    border-color: rgba(230, 234, 239, 0);
    border-bottom-color: #e6eaef;
    border-width: 8px;
    left: 80%;
    margin-left: -8px;
}

.no_mark.event-list-inner .disabled-event {
    color: #9f9f9f;
}


.disabled-event h3 a {
    color: #9f9f9f;
}

.pop_up_rec li .arrow_rec {
    display: block;
    background: url("../images/arrow_zap_sprite.png") no-repeat left bottom;
    display: block;
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 10px;

}

.pop_up_rec li:hover .arrow_rec {
    background: url("../images/arrow_zap_sprite.png") no-repeat left top;

}

.start {
    float: left;
}

.pop_up_rec li strong, .pop_up_rec li em {
    display: block;
    font-style: normal;
    float: left;
    color: #8d8d8d;
    margin-right: 10px;
    padding-top: 2px;
}

.pop_up_rec li strong {
    font-size: 18px;

}

.pop_up_rec li:hover strong {
    color: #627184;

}

.pop_up_rec li:hover{
    cursor: pointer;
}

.pop_up_rec li {
    position: relative;


}

.pop_up_rec .actions {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.pop_up_rec li:hover .actions{
    display: block;
}

.pop_up_rec .actions a {
    display: block;
    padding: 2px;
    text-align: center;
    float: left;
    width: 25px;
    height: 23px;
    padding-top: 2px;
    margin-right: 1px;

}

.pop_up_rec .actions a:hover {
    background: #FEFEFE;
    background: -moz-linear-gradient(top, #FEFEFE 1%, #F1F0F0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #FEFEFE), color-stop(100%, #F1F0F0));
    background: -webkit-linear-gradient(top, #FEFEFE 1%, #F1F0F0 100%);
    background: -o-linear-gradient(top, #FEFEFE 1%, #F1F0F0 100%);
    background: -ms-linear-gradient(top, #FEFEFE 1%, #F1F0F0 100%);
    background: linear-gradient(top, #FEFEFE 1%, #F1F0F0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fefefe', endColorstr = '#f1f0f0', GradientType = 0);
    border: 1px solid #c2c3c4;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 23px;
    height: 23px;
    margin-top: -1px;

}

.white-sha {
    position: absolute;
    height: 24px;
    z-index: 100;
    background: url("../images/wsha.png") repeat-x top;
    bottom: 23px;
    width: 99.5%;
    margin: 0 3px;
}

.vbtn {
    display: block;
    float: right;
    color: #fff !important;
    height: 22px;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 2px 10px 0;
    font-weight: bold;
    margin: -11px 2px 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    border:solid 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.vbtn.red {
    background: url("../images/vid_btn_red.jpg") repeat-x top;
    border-color: #a43332;
}

.vbtn.red:hover {
    background: url("../images/vid_btn_red.jpg") repeat-x bottom;
}

.vbtn.green {
    background: url("../images/vid_btn_green.jpg") repeat-x top;
    border-color: #287517;
}

.vbtn.green:hover {
    background: url("../images/vid_btn_green.jpg") repeat-x bottom;
}

.current-event .one-event {
    padding: 10px 10px 10px 75px;
}


li.current-event .event-navi {
    position: relative;
    float: right;
    margin-top: -46px;
    right: 6px;
    padding-left: 30px;
    background: url("../images/pink_tuman.png") repeat-y left;
}

li.current-event .event-navi ul {
    margin: 0;
}

li.current-event .event-navi ul li {
    background: #F4E4E0;
    padding: 10px 2px;
    margin: 0;
}

#tooltip{
    position:absolute;
    border:1px solid #ccc68a;
    background:#f5f1c5;
    padding:3px 4px;
    display:none;
    z-index: 999999999999;
    color: #5e5923;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12.5px;
    box-shadow: 0 0 13px #a9a9a9;
}

li .one-event {
    padding-right: 110px;
}

.video-list h3, .event-list-inner h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    display: block;
}

li.current-event .tip {
    top: 38px;
}

.inner-content {
    max-width: 1165px;
    min-width: 960px;
    margin: 0 auto;
    /*height: 100%;*/
}

.dashed-container {
    min-height: 480px;
}

#footer {
    display: none;
}

.navi-left.vm a.active {
    background-image: none;
    padding-right: 7px;
}


.sidebar {
    float: left;
    position: static;
    width: 204px;
    margin: 0;
    padding-left: 26px;
}

.content-part {
    width: auto;
    float: none;
    position: static;
    margin-left: 240px;
}

.navi-left {
    float: none;
    overflow: auto;
}


.events-list {
    overflow: auto;
    margin-bottom: 10px;
    height: 480px;
}

.tip {
    padding: 0 3px;
    top: 33px;
    left: -50px;
    height: 23px;
    line-height: 23px;
    z-index: 10000000;
    position: absolute;
    visibility: hidden;
    background: #fcfcfc; /* Old browsers */
    background: -moz-linear-gradient(top, #fcfcfc 0%, #f4f4f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f4f4f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcfcfc 0%, #f4f4f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fcfcfc 0%, #f4f4f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fcfcfc 0%, #f4f4f5 100%); /* IE10+ */
    background: linear-gradient(top, #fcfcfc 0%, #f4f4f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fcfcfc', endColorstr = '#f4f4f5', GradientType = 0); /* IE6-9 */
    border: #c3c3c3 1px solid;
    text-align: center;
    color: #3f3f3f;
    font-weight: 100;
    white-space: nowrap;
}

.event-navi {
    position: absolute;
    right: 21px;
    top: 25px;
}


.blue-title a.blue-more {
    color: #a3a7ac;
    border: 0;
    font-size: 12px;
    background: url("../images/totop.png") no-repeat right top;
    height: 30px;
    padding: 2px 40px 0 0;
    float: right;
}

.blue-title a.blue-more span {
    border-bottom: #a3a7ac 1px dotted;
}

.blue-title a.blue-more:hover {
    color: #000;

}

.content-block {
    behavior: url(PIE.htc);
    position: relative;
    float: left;
    height: 100%;
    padding: 1px;
    min-height: 200px;
    width: 100%;
    overflow: hidden;
    background: url(../images/bg/dashed-v.png) repeat-y right 0, url(../images/bg/dashed.png) repeat-x 0 0, url(../images/bg/dashed.png) repeat-x 0 bottom, url(../images/bg/dashed-v.png) repeat-y 0 0;

}